@model IEnumerable<PetHouse.MVC.Models.Mascota>

@{
    ViewBag.Title = "Mascotas";
}

@Html.Partial("Helpers/_ViewError")

<div class="col-sm-12" style="z-index: 1;">
    @Html.ActionLink("Crear nueva Mascota", "Create", "Mascota", null, new { @class = "btn btn-info  pull-right", style = "margin-bottom:15px;" })
</div>

@Html.Partial("Mascota/_Index", Model)