<div class="col-sm-12" style="z-index: 1; margin-left: -15px;">
    @Html.ActionLink("Nueva Adopción", "Create", "Adopcion", null, new { @class = "btn btn-info  pull-right", style = "margin-bottom:15px;" })
</div>
<div style="margin-left: 15px; margin-right: 15px;">
    <div class="box">
        <div class="box-body">
            <div class="col-md-4">
                <img alt="PetHouse" src="~/Content/img/logo.png" height="100" />
            </div>
            <div class="col-md-8">
                <ul>
                    <li>Ayuda a que los animales de compañía acogidos en PetHouse, encuentren lo más pronto posible un buen hogar y tengan una segunda oportunidad de vida.</li>
                    <li>Puedes contribuir a reducir la sobrepoblación de animales de compañía abandonados y maltratados por medio de adopción, castración, educación y voluntariado.</li>
                </ul>
            </div>
        </div>
    </div>
</div>