<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title" style="font-family: 'Roboto', sans-serif; color: #555;">Info! Mascota</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
        <div class="col-md-12 text-center" style="padding-left: 36px; padding-right: 36px;">
            <img alt="PetHouse" src="~/Content/img/pethouse-logo.jpg" class="img-responsive" />
        </div>
    </div>
    <div class="box-body" style="height: 300px; overflow-y: scroll">
        <div class="col-md-12 text-center form-horizontal">
            <div id="CuerpoMascota" class="text-center">

            </div>
        </div>
    </div>
</div>