@model IEnumerable<PetHouse.MVC.Models.Expediente>

@{
    ViewBag.Title = "Expedientes";
}

@Html.Partial("Helpers/_ViewError")

<div class="col-sm-12" style="z-index: 1;">
    @Html.ActionLink("Crear nuevo Expediente", "Create", "Expediente", null, new { @class = "btn btn-info  pull-right", style = "margin-bottom:15px;" })
</div>

<div class="box">
    <div class="box-body">
        @Html.Partial("Expediente/_Index", Model)
    </div>
</div>
