@if (ViewData["Error"] != null)
{
    <div class="callout callout-danger col-sm-6" style="margin-left: 25%;">
        <h4>Error!</h4>

        <p>
            @ViewData["Error"]
        </p>
    </div>
}