<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PetHouse.DAL.Properties.Settings.PetHouseConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=PetHouse;User ID=PetHouseAdmin;Password=pethouse13"
            providerName="System.Data.SqlClient" />
        <add name="PetHouse.DAL.Properties.Settings.PetHouseConnectionString1"
            connectionString="Data Source=localhost;Initial Catalog=PetHouse;User ID=PetHouseAdmin;Password=pethouse13;MultipleActiveResultSets=True;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>