<div class="col-sm-12" style="z-index: 1; margin-left: -15px;">
    @Html.ActionLink("Nueva Adopción", "Create", "Adopcion", null, new { @class = "btn btn-info  pull-right", style = "margin-bottom:15px;" })
</div>
<div style="margin-left: 15px; margin-right: 15px;">
    <div class="box">
        <div class="box-body">
            <div class="col-md-4">
                <img alt="PetHouse" src="~/Content/img/logo.png" height="100" />
            </div>
            <div class="col-md-8">
                <ul>
                    <li>Nuestra meta es tratar a tu mascota como en casa en todos los servicios que te brindemos de parte de todo nuestro personal.</li>
                    <li>Porque ellos son parte de la Familia Además de nuestro Profesionalismo, compromiso y conocimiento.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
